.appointments-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2rem;
}

.appointments-credits {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.appointments-credits--badge {
    background-color: #964734;
    border-color: #964734;
}

.appointments-credits--badge:hover {
    background-color: #4a1f14;
    border-color: #4a1f14;
    cursor: default;
}

.appointments-credits--display {
    display: flex;
    margin-left: 1rem;
}

.appointments-credits--display button {
    margin-left: 1rem;
}

.appointments-new {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.appointments-new--params {
    background-color: rgb(241, 241, 241);
    border-radius: 3%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.appointments-new--display {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

#appointmentNewList {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#appointmentNewList div {
    margin: 1rem;
}

.appointments-list--display {
    display: flex;
    flex-direction: column;
}

.appointments-list h3 {
    margin-bottom: 2rem;
}

.appointments-list--display thead tr {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.appointments-list--display tbody tr {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.appointments-list--display thead th, .appointments-list--display tbody tr td {
    align-self: center;
    width: 20%;
}

.appointments-list--display thead th:nth-child(3), .appointments-list--display tbody tr td:nth-child(3) {
    width: 30%;
}

.appointments-new--buttons {
    background-color: #964734;
    border-color: #964734;
}

.appointments-new--buttons:hover {
    background-color: #4a1f14;
    border-color: #4a1f14;
}

.appointments-list--buttons {
    color: #964734;
    border-color: #964734;
}

.appointments-list--buttons:hover {
    color: #4a1f14;
    border-color: #4a1f14;
    background-color: #ffc3b4;
}

#creditsMessage {
    margin-left: 2rem;
}

@media (max-width: 768px) {
    .appointments-new {
        flex-direction: column;
    }
}