.calendar-container {
    display: flex;
    flex-direction: column;
    font-size: x-small;
    align-items: center;
    margin: .5rem 0;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.calendar-header h3 {
    font-size: small;
    font-weight: bold;
}

#calendar {
    border-collapse: collapse;
    width: 100%;
    max-width: 300px;
}

#calendar th, #calendar td {
    border: 1px solid #ddd;
    text-align: center;
    padding: .5rem;
    cursor: pointer;
}

#calendar th {
    background-color: #555;
    color: white;
}

#calendar td:hover {
    background-color: #f0f0f0;
}

#calendar td.selected {
    background-color: #333;
    color: white;
}