.cookie-consent {
    bottom: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

.cookie-consent p {
    display: inline;
    margin: 0;
    padding: 2rem 1rem;
    text-align: center;
}

.cookie-consent button {
    background-color: #0FA4AF;
    color: #fff;
    border: none;
    height: 2.5rem;
    padding: .5rem;
    margin: 2rem;
    cursor: pointer;
    width: 5rem;
}

.cookie-consent button:hover {
    background-color: #AFDDE5;
}