.cookie-consent {
    align-items: center;
    bottom: 0;
    background-color: #555555;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1rem;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000;
}

.cookie-consent p {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
}

.cookie-consent button {
    height: 2.5rem;
    padding: .5rem;
    width: 5rem;
}