header {
    background-color: #024950;
}

.header--logo {
    background-color: #024950;
}

.header--nav {
    background-color: #024950;
}

.header--nav-user {
    background-color: #024950;
}

.header--nav-menu {
    background-color: #024950;
}

.footer {
    background-color: #0FA4AF;
}