header {
    align-items: center;
    background-color: #024950;
    display: flex;
    justify-content: space-between;
    min-height: 15vh;
    padding: 0 2rem;
}

.header--logo {
    align-items: center;
    background-color: #024950;
    justify-content: center;
}

.header--nav {
    background-color: #024950;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header--nav-user {
    background-color: #024950;
    padding: 0.5rem;
}

.header--nav-menu {
    background-color: #024950;
    padding: 0.5rem;
}

.header--nav-user ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.header--nav-user ul li {
    margin: 0.5rem 1rem;
}

.header--nav-user ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header--nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.header--nav-menu ul li {
    font-size: x-large;
    margin: 0.5rem 1rem;
    padding: 0 1rem;
}

.header--nav-menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#content {
    min-height: 70vh;
}

footer {
    align-items: center;
    background-color: #0FA4AF;
    display: flex;
    justify-content: space-around;
    min-height: 15vh;
    padding: 0 2rem;
}

.footer--logo {
    align-items: center;
    background-color: #0FA4AF;
    justify-content: center;
}

.footer--contact {
    background-color: #0FA4AF;
}

.footer--nav {
    background-color: #0FA4AF;
    padding: 0.5rem;
}

.footer--nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer--nav ul li {
    margin: 0.25rem 0.5rem;
}

.footer--nav ul li a {
    color: #024950;
    text-decoration: none;
    font-weight: bold;
}