#cartTable {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#cartTable thead tr th {
    padding: .5rem;
    font-weight: bold;
    text-align: center;
}

#cartCompleteList tr td {
    padding: .5rem;
    border-bottom: .5px solid #CCC;
}

#cartTotal {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 2rem;
    text-align: end;
}