.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
}

#userContactForm {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
}

#userContactForm div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#userContactMessage {
    height: 6rem;
}

@media (max-width: 768px) {
    #userContactForm {
        padding: 1rem 2rem;
    }
}