#cookieConsent {
    bottom: 0;
    background-color: #555555;
    color: #FFF;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.cookie-consent {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem;
}

.cookie-consent p {
    display: inline-block;
    margin: 0 2rem;
    padding: 0;
}

.cookie-consent button {
    display: inline-block;
    height: 2.5rem;
    padding: .5rem;
    width: 5rem;
}