.files-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
}

.files-upload {
    background-color: rgb(245, 245, 245);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
    padding: 1rem;
}

#uploadFileForm {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#uploadFileForm input {
    min-width: 10rem;
}

#uploadFileForm button, #uploadFileForm label, #uploadFileForm input {
    margin: 1rem;
}

#inputUploadFileSelect {
    min-width: 10rem;
}

.files-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

.files-list h2 {
    margin-bottom: 1rem;
}

#filesTable {
    width: 100%;
}

#filesTable thead tr th {
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}

#filesCompleteList tr td {
    padding: .5rem 2rem;
    border-bottom: 1px solid #CCC;
}

#filesCompleteList tr td:last-child {
    text-align: center;
}

@media (max-width: 768px) {
    #filesCompleteList tr td {
        padding: .5rem .5rem;
    }

    #uploadFileForm {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #uploadFileForm button, #uploadFileForm label, #uploadFileForm input {
        margin: .25rem;
    }
} 