:root {
    --menu-width-large: 130px;
    --menu-height-small: 100px;
    --menu-background-collor: #024950;
    --menu-items-collor: white;
    --menu-items-hover: #0FA4AF;
    --navigation-height-full: 75px;
    --navigation-height-colapsed: 40px;
    --navigation-background-collor: #024950;
    --navigation-items-collor: white;
    --navigation-items-hover: #0FA4AF;
    --footer-height-large: 115px;
    --footer-background-collor: #0FA4AF;
    --footer-items-collor: #024950;
}

.navigation-container {
    align-items: center;
    background-color: var(--navigation-background-collor);
    display: flex;
    height: var(--navigation-height-full);
    justify-content: space-between;
    left: var(--menu-width-large);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: calc(100% - var(--menu-width-large));
    z-index: 1000;
}

.navigation--logo {
    display: inline-block;
    margin: 0;
    padding: .5rem;
}

 .navigation--nav-user {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navigation--nav-user ul {
    align-items: center;
    align-self: center;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navigation--nav-user ul li {
    padding: 0 1rem;
}

.navigation--nav-user ul i {
    padding: 0 .5rem;
}

.navigation--nav-user ul li a {
    color: var(--navigation-items-collor);
    font-weight: bold;
    text-decoration: none;
}

.navigation--nav-user ul li a:hover {
    color: var(--navigation-items-hover);
}

.navigation--menu {
    background-color: var(--menu-background-collor);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: var(--menu-width-large);
    z-index: 1000;
}

.navigation--menu ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.navigation--menu ul li {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 0;
}

.navigation--menu ul li a {
    align-items: center;
    color: var(--menu-items-collor);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    text-decoration: none;
}

.navigation--menu ul li a:hover {
    color: var(--menu-items-hover);
}

.navigation--menu-icon {
font-size: large;
}

.navigation--menu-text {
    font-size: small;
}

#contentArea {
    flex: 1;
    left: var(--menu-width-large);
    max-width: calc(100% - var(--menu-width-large));
    padding-bottom: var(--footer-height-large);
    position: relative;
    top: var(--navigation-height-full);
}

.footer-container {
    align-items: center;
    background-color: #0FA4AF;
    color: var(--footer-items-collor);
    display: flex;
    justify-content: space-around;
    height: var(--footer-height-large);
    left: var(--menu-width-large);
    min-height: var(--footer-height-large);
    padding: 0 1rem;
    position: relative;
    width: calc(100% - var(--menu-width-large));
}

.footer--logo {
    align-items: center;
    justify-content: center;
}

.footer--contact {
    font-size: medium;
}

.footer--contact ul :first-child{
    font-weight: bold;
}

.footer--nav {
    padding: 0.5rem;
}

.footer--nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

.footer--nav ul li {
    margin: 0.25rem 0.5rem;
}

.footer--nav ul li a {
    color: var(--footer-items-collor);
    text-decoration: underline;
    font-weight: bold;
}
    
@media (max-width: 768px) {
    .navigation-container {
        height: var(--navigation-height-colapsed);
        justify-content: end;
        left: auto;
        width: 100%;
    }

    .navigation--logo {
        display: none;
    }

    .navigation--nav-user {
        padding: 0;
    }

    .navigation--nav-user ul {
        margin: 0;
    }

    .nav--menu {
        bottom: 0;
        height: var(--menu-height-small);
        top: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nav--menu ul {
        flex: 1;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }
    
    .nav--menu ul li {
        padding: 0 .5rem;
    }
    
    .nav--menu-text {
        font-size: xx-small;
    }

    #content {
        left: auto;
        max-width: 100%;
        padding-bottom: var(--menu-height-small);
        top: var(--navigation-height-colapsed);
    }

    .footer-container {
        display: none;
    }

}