.terms-page {
    background-color: white;
    margin: 0;
    padding: 0;
}

.terms-container {
    background-color: whitesmoke;
    border: 0;
    border-radius: 1%;
    margin: 1rem;
    padding: 1rem;
}

.terms-container h1 {
    font-size: xx-large;
    font-weight: bold;
    margin: 1rem;
}

.terms-container h3 {
    display: block;
    font-size: small;
    font-weight: bold;
    margin: 2rem;
    text-align: end;
}

.terms-container ul li {
    list-style: circle;
    margin-bottom: 1rem;
}

.terms-container section {
    margin-bottom: 1rem;
}