.login-container, .register-container {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2, .register-container h2 {
    margin-bottom: .5rem;
    text-align: center;
}

.login--forms label, .login--forms input, .register--forms label, .register--forms input {
    margin: .25rem;
}

.login--forms button, .register--forms button, .profile--forms button {
    display: block;
    width: 100%;
    margin: .5rem 0;
}

.login--username {
    border-bottom: 1px solid #CCC;
    margin-bottom: .5rem;
}

.login--others {
    display: flex;
    justify-content: space-between;
}

.register--divider, .profile--divider {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    margin: .5rem;
    padding: .5rem;
}

#google-login-btn {
    background-color: #4285F4;
    color: white;
    display: block;
    width: 100%;
    margin: 1rem 0;
}
#facebook-login-btn {
    background-color: #3B5998;
    color: white;
    display: block;
    width: 100%;
    margin: 1rem 0;
}